@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1);
  }
}
*/

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
