@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-x: 0;
  --shadow-y: 0;
}

.pfp {
  float: right;
  shape-outside: circle(50%);
}

.shadow-effect {
  filter: drop-shadow(var(--shadow-x) var(--shadow-y) 14px dimgray)
}

* {
  scrollbar-width: none;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1);
  }
}
*/

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
