#main-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  background-color: cornflowerblue;
}

#navbar {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

li {
  display: inline;
}

#main-footer {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}