<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body onload="bgStart()">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <input id="bg-toggle" type="button" value="Toggle Background" onclick="bgToggle()">

  </body>

</html>

<!-- Javascript for background animation -->
<script src="/assets/bgAnim.js"></script>
